__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
!.env.example

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

/data/raw/*
/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep

mlruns/
mlartifacts/
*.db

.DS_Store
.idea/
.vscode/

weather-mlops-496707-1fd0612bbd03.json

*:Zone.Identifier
*Zone.Identifier

mlflow-local/
